.card_list_title {
    height: 40px;
    margin: 60px 0 0 16px;
    font-family: 'SpartanMB';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}

.card_list {
    width: 360px;
    height: 600px;
    margin: 24px auto 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.my_card {
  width: 343px;
  height: 220px;
  background-color: #FB1CFF;
  border-radius: 16px;
  position: relative;
  margin-top: 8px;
}

.my_name, .my_job, .contact_text, .logo {
    border-style: none;
}

.my_name_text, .my_job_text, .contact_text_text {
    font-family: "Spartan MB";
    font-style: normal;
    color: #000000;
    margin: 0;
}

.my_name_text {
    font-size: 24px;
    font-weight: 600;
}

.my_job_text {
    font-size: 16px;
    font-weight: 600;
}

.contact_text_text {
    font-size: 12px;
    font-weight: 500;
}

.logo_img {
    width: auto;
    height: 50px;
    position: absolute;
    right: 0px;
}

/* 다른 css 속성은 component.css */
.choice {
    left: 96px;
    width: 136px;
}

.home_button {
    left: 56px;
}

.card_list_button {
    left: 111px;
}

.setting_button {
    left: 248px;
}



/*디테일*/
/* 명함 카드 스타일 예시 */

.detail-card {
    width: 360px;
    height: 900px;
    max-width: 360px;
    margin: 0 auto;
    border-radius: 16px;
    overflow: hidden;
    margin-top: 61px;
}

.detail-top-img {
    width: 340px;
    height: 200px;
    object-fit: cover;
    margin-top: 10px;
    margin-left: 10px;
    display: block;
    border-radius: 16px;
}

.detail-main {
    padding: 20px;
    color: white;
}

.detail-name {
    margin-left: 30px;
    margin-top: -100px;
    font-size: 24px;
    font-weight: 700;
}

.detail-job {
    margin-left: 30px;
    font-size: 16px;
    margin-bottom: 12px;
}

.detail-contacts {
    font-size: 14px;
    margin-left: 30px;
}

.detail-profile {
    width: 300px;
}

.info-section {
    width: 120px;
    max-width: 360px;
    margin: 12px auto;
    background: rgba(255,255,255,.7);
    padding: 20px;
    border-radius: 20px;
}

.info-section-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
}

.tools-list,
.career-box {
    font-size: 14px;
    line-height: 1.6;
}

.back-btn {
    width: 100%;
    max-width: 360px;
    margin: 20px auto;
    text-align: center;
    padding: 12px 0;
    background: #eee;
    border-radius: 12px;
    font-size: 16px;
}
