.slogan {
    font-family: 'Nagoda';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    color: #141414;
    margin: 45px 0 0 16px;
}

.my_card_case {
    width: 360px;
    height: 320px;
    /* 그라데이션 */
    background: radial-gradient(at 30% 20%, #f7f7f7, transparent 60%),
                radial-gradient(at 90% 40%, #e3e6f9, transparent 60%),
                radial-gradient(at 70% 90%, #d5d9f9, #d6daf9);
    border-radius: 16px;
    margin: 24px auto 0;
    display: grid;
    justify-content: center;
}

.my_card_case_header {
    width: 342px;
    height: 20px;
    position: relative;
    top: 16px;    
    display: flex;
}

.my_card_edit {
    width: 56px;
    height: 32px;
    background-color: #ffffff;
    border: 1px solid #141414;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Edit_text {
    font-family: 'SpartanMB';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    color: #141414;
    margin: 0px;
}

.my_card_switch {
    width: 80px;
    height: 32px;
    background-color: #ffffff;
    border: 1px solid #141414;
    border-radius: 16px;
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.card_qr_switch {
    width: 40px;
    height: 24px;
    background: #000000;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_qr_switch.qr {
    margin-left: 40px;
}

.card_list_title {
    height: 40px;
    margin: 60px 0 0 16px;
    font-family: 'SpartanMB';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}

.card_list {
    width: 360px;
    height: auto;
    margin: 24px auto 0;

}

/* 다른 css 속성은 component.css */
.choice {
    left: 48px;
}

.home_button {
    left: 64px;
}

.card_list_button {
    left: 176px;
}

.setting_button {
    left: 243px;
}
