.phone {
    width: 375px;
    height: 812px;
    border: 1px solid black;
    position: relative;
    margin: auto;
    overflow: hidden;  /* 이 영역 밖은 보이지 않음 */
    padding: 15px;
    box-sizing: border-box;
}

.logo {
    width: 264px;
    height: auto;
    position: absolute;
    /* 애니메이션 전 위치 */
    top: 50%;
    transform: translateY(-50%);

    animation: logoUp 0.5s ease-out forwards;
}

/* 로고가 위로 올라가서 최종 로그인 화면 위치에 고정 */
@keyframes logoUp {
    0% {
        top: 50%;
        transform: translateY(-50%);
    }
    100% {
        top: 214px;      /* 최종 위치 (로그인 화면 로고 위치) */
        transform: translateY(0);
    }
}

/* 애니메이션 전엔 안보였다가 로고 올라간 이후 등장 */
.text_case,
.login_input,
.login_button {
    opacity: 0;
    transform: translateY(24px);
    animation: fadeInUp 0.8s ease-in forwards;
    animation-delay: 0.7s;
}

.text_case {
    position: relative;
    margin-top: 253px;
    margin-bottom: 58px;
}

.onboarding_text {
    color: #141414;
    font-family: "Pangea Afrikan Trial";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 31px; /* 96.875% */
    text-transform: uppercase;
    margin: 0;
}

.login_input {
    width: 344px;
    height: 56px;
    border-radius: 37px;
    border: 1px solid #000;
    margin-top: 12px;
    padding: 12px 19px;
    box-sizing: border-box;

    color: #C4C4C4;
    font-family: "Spartan MB";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
}

.login_button {
    width: 344px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 37px;
    background: #000;
    margin-top: 140px;

    color: #FFF;
    font-family: "Spartan MB";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    text-transform: uppercase;
}

/* 공통 페이드 인 + 위로 슬라이드 */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(24px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
