.phone {
    width: 375px;
    height: 812px;
    border: 1px solid black;
    position: relative;
    margin: auto;
    overflow: hidden;  /* 이 영역 밖은 보이지 않음 */
}

.logo_case {
    position: relative;
    margin: 433px 0 0 106px;
}

.logo_1 {
    width: auto;
    height: 256px;
    transform: translateX(-122px);
}

.logo_2 {
    width: auto;
    height: 256px;
    transform: translateX(-129px);
}

.logo_3 {
    width: auto;
    height: 245px;
    transform: translateX(-87px);
}

/* 공통 애니메이션 */
.logo_case img {
    opacity: 0;
    
    animation: slideIn 2.2s cubic-bezier(0.15, 0.9, 0, 1) forwards;
}

/* 각 로고에 약간씩 딜레이 */
.logo_1 { animation-delay: 0s; }
.logo_2 { animation-delay: 2s; }
.logo_3 { animation-delay: 4s; }

@keyframes slideIn {
    from {
        opacity: 0;
        
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.onboarding_text_case {
    margin: 56px 0 0 120px;
}

.onboarding_text {
    color: #141414;
    font-family: "Pangea Afrikan Trial";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 31px; /* 96.875% */
    text-transform: uppercase;
    margin: 0 0 8px 0;
}

.next_button {
  width: 56px;
  height: 32px;
  background: #ffffff;
  border-radius: 16px;
  border: 1px solid #000000;
  position: absolute;
  bottom: 72px;
  right: 12px;
}

.next_button:hover {
    font-weight: 600;
    background-color:#000000;
    color: #FFFFFF;
    cursor:pointer;
}