.my_card_case {
    width: 360px;
    height: 252px;
    /* 그라데이션 */
    background: radial-gradient(at 30% 20%, #f7f7f7, transparent 60%),
                radial-gradient(at 90% 40%, #e3e6f9, transparent 60%),
                radial-gradient(at 70% 90%, #d5d9f9, #d6daf9);

    border-radius: 16px;
    margin: 24px auto 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.my_card {
  width: 343px;
  height: 220px;
  background-color: #ffffff;
  border-radius: 16px;
  position: relative;
}

.my_name, .my_job {
    width: 137px;
    height: 36px;

    position: relative;
    top: 25px;
    left: 22px;
    background-color: transparent;
    border: 1px dashed #000000;
    border-radius: 4px;
}

.my_job {
    height: 27px;
    margin-top: 6px;
}

.contact_case {
  width: 142px;
  height: 70px;
  margin-top: 46px;
  margin-left: 24px;
}

.contact {
  width: 100%;
  height: auto;
  display: flex;
  margin-bottom: 2px;
}

svg path {
  fill: #000000;
}

.contact_text {
  width: 110px;
  height: 22px;
  border: 1px dashed #000000;
  border-radius: 4px;
  margin: 0;
  margin-left: 6px;

  color: #000000;
  font-family: "Spartan MB";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.logo {
  width: 112px;
  height: 51px;
  border: 1px dashed #000000;
  border-radius: 4px;
  position: absolute;
  right: 22px;
  bottom: 27px;
}

.card_list_title {
    height: 24px;
    margin: 32px 0 0 16px;
    font-family: 'SpartanMB';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.ui_case, .text_case, .color_case {
    width: 360px;
    border-radius: 16px;
    background: rgba(217, 217, 217, 0.20);
    margin: 8px auto 0;
}

.ui_case {
    height: 116px;
}

.text_case {
    height: 209px
}

.color_case {
    height: 118px;
}




/* 다른 css 속성은 component.css */
.choice {
    left: 166px;
    width: 119px;
}

.home_button {
    left: 55px;
}

.card_list_button {
    left: 110px;
}

.setting_button {
    left: 179px;
}