.phone {
    width: 375px;
    height: 667px;
    border: 1px solid black;
    position: relative;
    margin: auto;
}

.bog_logo {
    width: 424px;
    height: auto;
    margin-top: 164px;
}


.BizDeck_logo {
    width: 265px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}