.phone {
    width: 375px;
    height: 812px;
    border: 1px solid black;
    position: relative;
    margin: auto;
    overflow: hidden;  /* 이 영역 밖은 보이지 않음 */
}

.logo_case {
    position: relative;
    margin-top: 164px;
}

.logo_1 {
    width: auto;
    height: 256px;
    transform: translateX(-122px);
    z-index: 30;
}

.logo_2 {
    width: auto;
    height: 256px;
    transform: translateX(-159px);
    z-index: 20;
}

.logo_3 {
    width: auto;
    height: 245px;
    transform: translateX(-147px);
    z-index: 10;
}

/* 공통 애니메이션 */
/* 초기 상태: 모든 로고는 보이지 않음 */
.logo_case img {
    opacity: 0;
    transform: translateX(-150px);
}

/* 공통 애니메이션 정의 */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-150px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* 실제 애니메이션이 시작될 때 붙는 클래스 */
.animate {
    animation: slideIn 0.7s forwards;
}

.onboarding_text_case {
    margin: 56px 0 0 120px;
}

.onboarding_text {
    width: 240px;
    color: #141414;
    font-family: "Pangea Afrikan Trial";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 31px; /* 96.875% */
    text-transform: uppercase;
    margin: 0 0 8px 0;

    display: inline-block;
    clip-path: inset(0 100% 0 0); 
    animation: reveal 1s ease forwards;
}

/* 순차 딜레이 */
.onboarding_text:nth-child(1) { animation-delay: 1.5s; }
.onboarding_text:nth-child(2) { animation-delay: 1.8s; }
.onboarding_text:nth-child(3) { animation-delay: 2.1s; }
.onboarding_text:nth-child(4) { animation-delay: 2.5s; }
.onboarding_text:nth-child(5) { animation-delay: 2.8s; }

@keyframes reveal {
    from { clip-path: inset(0 100% 0 0); }
    to   { clip-path: inset(0 0 0 0);   }
}

.next_button {
  width: 56px;
  height: 32px;
  background: #ffffff;
  border-radius: 16px;
  border: 1px solid #000000;
  position: absolute;
  bottom: 72px;
  right: 12px;
}

.next_button:hover {
    font-weight: 600;
    background-color:#000000;
    color: #FFFFFF;
    cursor:pointer;
}